*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #b4b4b8;
    overflow-x: hidden;
}
#logo{
    margin: 10px 5px;
    width: 180px;
}
nav{
    background-color: #afdaed;
}
nav::after {
    content: "";
    display: table;
    clear: both;
}
.nav{
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    width: 120px;
    margin: 8px 0 0 0;
    transition: background-color .5s ease-in-out;
    &:hover{
        background-color: #ffffff3b;
    }
}

#foot{
    background-color: #5d6b6b;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    width: 100%;
}

#f-logo{
    width: 20%;
    float: left;
    margin-right: 25px;
}
.heading{
    display: flex;

}
.ft{
    margin: 0 10%;
    font-size: 100%;
}
.h2{
    margin: 10px;
    text-align: center;
}
.btn{
    padding: 10px;
    width: 300px;
    height: 70px;
    margin: 10px;
    font-size: 20px;
}

#btns{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:hover{
    background-color: #5d6b6b;
}